body {
    background-color: white;
    margin: 0;
    font-family: Louis George Cafe;

}

@font-face {
    font-family: Louis George Cafe;
    src: url("Louis\ George\ Cafe.ttf");
}

@font-face {
    font-family: Louis George Cafe B;
    src: url("Louis\ George\ Cafe\ Bold.ttf");
    font-weight: bold;
}

@font-face {
    font-family: Louis George Cafe I;
    src: url("Louis\ George\ Cafe\ Italic.ttf");
    font-style: italic;
}
/*CSS stuff used site wide*/

.desktop {
    z-index: 0;
    float : right;
    font-weight: bolder;
}

.desktop ul {

    margin-bottom: 10px;
    padding: 0;
    list-style: none;
}

.navbar_item{
    display : inline-block;
    margin-left: 10px;
    padding-top: 18px;
    position: relative;
}

.desktop ul li button {
    font-family: Louis George Cafe;
    border: none;
    background: transparent;
    font-size: 16px;
}

.desktop ul li button img {
    width: 10px;
    height: auto;
}

/*Theme stuff*/
.homepage_theme
{
    background-color: #b10032;
    color: white;
}

.cpp_theme {
    background-color: #4503a9;
    color: white;
}

.gis_theme {
    background-color: #002e0a;
    color: white;
}

.html_theme
{
    background-color: #c72100;
    color: white;
}

.res_theme
{
    background-color: #444342;
    color: white;
}

.py_theme
{
    background-color: #3d79aa;
    color: white;
}

.css_theme
{
    background-color: #9f7ff7;
    color: white;
}

/*Home dropdown*/

.home_dropdown_menu {
    width: 100%;
    position: fixed;
    padding: 30px 40px;
    display: fixed;
    background-color: inherit;
    z-index: 1;
    transform: translateY(-200%);
    transition: all ease-in-out 250ms;
    color: inherit;
}

.home_dropdown_menu ul
{
    list-style: none;
}

.home_dropdown_menu ul li{
    padding: 2px;
    font-weight: lighter;
    display : inline-block;
}

.home_dropdown_menu ul li a {
    text-decoration: none;
    color: inherit;
}

/*reousrces dropdown*/
.resources_dropdown_menu {
    width: 100%;
    position: fixed;
    padding: 30px 40px;
    display: fixed;
    background-color: inherit;
    z-index: 1;
    transform: translateY(-200%);
    transition: all ease-in-out 250ms;
    color: inherit;
}

.resources_dropdown_menu ul
{
    list-style: none;
}

.resources_dropdown_menu ul li{
    padding: 2px;
    font-weight: lighter;
    display : inline-block;
}

.resources_dropdown_menu ul li a {
    text-decoration: none;
    color: inherit;
}

/*C++ dropdown*/
.cpp_dropdown_menu {
    width: 100%;
    position: fixed;
    padding: 30px 40px;
    display: fixed;
    background-color: inherit;
    z-index: 1;
    transform: translateY(-200%);
    transition: all ease-in-out 250ms;
    color: inherit;
}

.cpp_dropdown_menu ul
{
    list-style: none;
}

.cpp_dropdown_menu ul li{
    padding: 2px;
    font-weight: lighter;
    display : inline-block;
}

.cpp_dropdown_menu ul li a {
    text-decoration: none;
    color: inherit;
}

/*HTML dropdown*/
.html_dropdown_menu {
    width: 100%;
    position: fixed;
    padding: 30px 40px;
    display: fixed;
    background-color: inherit;
    z-index: 1;
    transform: translateY(-200%);
    transition: all ease-in-out 250ms;
    color: inherit;
}

.html_dropdown_menu ul
{
    list-style: none;
}

.html_dropdown_menu ul li{
    padding: 2px;
    font-weight: lighter;
    display : inline-block;
}

.html_dropdown_menu ul li a {
    text-decoration: none;
    color: inherit;
}

/*Python dropdown*/
.py_dropdown_menu {
    width: 100%;
    position: fixed;
    padding: 30px 40px;
    display: fixed;
    background-color: inherit;
    z-index: 1;
    transform: translateY(-200%);
    transition: all ease-in-out 250ms;
    color: inherit;
}

.py_dropdown_menu ul
{
    list-style: none;
}

.py_dropdown_menu ul li{
    padding: 2px;
    font-weight: lighter;
    display : inline-block;
}

.py_dropdown_menu ul li a {
    text-decoration: none;
    color: inherit;
}

/*CSS dropdown*/
.css_dropdown_menu {
    width: 100%;
    position: fixed;
    padding: 30px 40px;
    display: fixed;
    background-color: inherit;
    z-index: 1;
    transform: translateY(-200%);
    transition: all ease-in-out 250ms;
    color: inherit;
}

.css_dropdown_menu ul
{
    list-style: none;
}

.css_dropdown_menu ul li{
    padding: 2px;
    font-weight: lighter;
    display : inline-block;
}

.css_dropdown_menu ul li a {
    text-decoration: none;
    color: inherit;
}

/*GIS dropdown*/
.gis_dropdown_menu {
    width: 100%;
    position: fixed;
    padding: 30px 40px;
    display: fixed;
    background-color: inherit;
    z-index: 1;
    transform: translateY(-200%);
    transition: all ease-in-out 250ms;
    color: inherit;
}

.gis_dropdown_menu ul
{
    list-style: none;
}

.gis_dropdown_menu ul li{
    padding: 2px;
    font-weight: lighter;
    display : inline-block;
}

.gis_dropdown_menu ul li a {
    text-decoration: none;
    color: inherit;
}

.open {
    display: sticky;
    transform: translateY(0%);
    transition: all ease-in-out 250ms;
}



.homecontainer {
    font-family: Louis George Cafe;
    width: 95%;
    margin : 0 auto;
}

header.home{
    z-index: 2;
    background-color: #ffa800;
    border-bottom: 8px solid #c70039;
    position: sticky;
    top: 0px;
}

header.home::after {
    content: '';
    clear: both;
    display: flex;
}

.homecontainer .logo {
    float : left;
    font-style: italic;
}

.homecontainer .desktop ul li button{
    color: #000;
    text-decoration: none;
    font-size: large;
}

.homecontainer .desktop button::after {
    content: '';
    display: block;
    height: 3px;
    width: 0%;
    background-color: #c70039;

    position: absolute;
    transition: all ease-in-out 250ms;
}

.homecontainer .desktop button:hover::after {
    width: 100%;
}

.about{
    width : 95%;
    margin: 0 auto;
}

.about h1{
    position: static;
    padding-left : 5px;
    background-color: #ff5733;
    margin-bottom: -100px;
}

.bios {
    width : 95%;
    margin: 0 auto;
}


.bios p {
    margin-right : 20px;
    margin-top : 20px;
    display: table;
}

.bios img{
    width : 250px;
    height: 250px;
    float : right;
    margin-left : 20px;
    margin-right: calc(30vw);
    margin-top: auto;
    margin-bottom: 20px;
}

.bios h2 {
    font-family: Louis George Cafe;
    margin-top: 125px;
    margin-bottom: 25px;
}

.homepage_style a {
    color: #ff5733;
    width: 95%;
    margin: 20px;
    padding-bottom: 20px;
}

/*Customized container for cpp*/
.cppcontainer {
    font-family: Louis George Cafe B;
    width: 95%;
    margin : 0 auto;
}

.cppcontainer .logo {
    float : left;
    font-style: italic;
    color: rgb(255, 255, 255);
}

.cppcontainer nav button:hover::after {
    width: 100%;
}

header.cpp{
    z-index: 2;
    background-color: #4e77f0;
    border-bottom: 8px solid #5000c7;
    position: sticky;
    top: 0px;
}

header.cpp::after {
    content: '';
    clear: both;
    display: flex;
}

.cppcontainer nav ul li button {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: large;
}

.cppcontainer nav button::after {
    content: '';
    display: block;
    height: 3px;
    width: 0%;
    background-color: #ffffff;

    position: absolute;
    transition: all ease-in-out 250ms;
}

.aboutcpp {
    width: 95%;
    margin: 0 auto;
}

.aboutcpp h1 {
    background-color: #7544fd;
    padding: 3px 3px;
    color: #ffffff;
}

.ccpusedfor {
    width : 95%;
    margin: 0 auto;
}

.ccpusedfor h1 {
    background-color: #7544fd;
    padding: 3px 3px;
    color: #ffffff;
}

.ccpusedfor img {
    width : 300px;
    height: auto;
    margin: 10px auto;
}

.cpptutorial {
    width: 95%;
    margin: 0 auto;
    
}

.cpptutorial h1 {
    background-color: #7544fd;
    color: #FFFFFF;
    padding: 3px 3px;
}

.cpptutorial h2 {
    background-color: #9f7ff7;
    color: #FFFFFF;
    padding: 3px 3px;

}

.cpptutorial a {
    color: #7544fd;
}

.cpptutorial img {
    width: 55%;
}

.cpptutorial a img {
    width: 100px;
    float: right;
}

.cpptutorial h3 b {
    font-family: "Louis George Cafe B";
}

.cpppre {
    padding: 4px 4px;
    display: inline-block; 
    border:2px solid #7544fd;
}


/*Customized container for css*/
.csscontainer {
    font-family: Louis George Cafe;
    width: 95%;
    margin : 0 auto;
}

header.css{
    z-index: 2;
    background-color: #aa00ff;
    border-bottom: 8px solid #7a059e;
    position: sticky;
    top: 0px;
}

.csscontainer .logo {
    float : left;
    font-style: italic;
    color: rgb(255, 255, 255);
}

.csscontainer nav button:hover::after {
    width: 100%;
}

header.css::after {
    content: '';
    display: flex;
    clear: both;
}

.csscontainer nav ul li button {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: large;
}

.csscontainer nav button::after {
    content: '';
    display: block;
    height: 3px;
    width: 0%;
    background-color: #ffffff;

    position: absolute;
    transition: all ease-in-out 250ms;
}

/*Customized container for gis*/
.giscontainer {
    font-family: Louis George Cafe;
    width: 95%;
    margin : 0 auto;
}

header.gis {
    z-index: 2;
    background-color: #028b32;
    border-bottom: 8px solid #004e11;
    position: sticky;
    top: 0px;
}

.giscontainer .logo {
    float : left;
    font-style: italic;
    color: rgb(255, 255, 255);
}

.giscontainer nav button:hover::after {
    width: 100%;
}

header.gis::after {
    content: '';
    display: flex;
    clear: both;
}

.giscontainer nav ul li button {
    color: rgb(255, 253, 253);
    text-decoration: none;
    font-size: large;
}

.giscontainer nav button::after {
    content: '';
    display: block;
    height: 3px;
    width: 0%;
    background-color: #ffffff;

    position: absolute;
    transition: all ease-in-out 250ms;
}

.aboutGIS {
    width: 95%;
    margin: 0 auto;
}

.aboutGIS h1 {
    background-color: #6ab468;
    padding: 3px 3px;
}

.GISuses {
    width: 95%;
    margin: 0 auto;
}

.GISuses h1 {
    background-color: #6ab468;
    padding: 3px 3px;
}

.GISGTTS { /* This is the Installation header and margin */
    width: 95%;
    margin: 0 auto;
}

.GISGTTS h1 {
    background-color: #6ab468;
    padding: 3px 3px;
}

.patchlink { /* This controls the Microsoft framework Link */
    border: none;
}
.patchlink:focus {
    border: none;
    outline: none;
}

.mirrorA { /* Raw Url spacing */
    text-align: left;
    white-space: pre-line;
}

.GisResources {
    width: 95%;
    padding: 3px 3px;
}

.GisResources h1 {
    background-color: #6ab468;
    padding: 3px 3px;
}

/*Customized container for html*/
.htmlcontainer {
    font-family: Louis George Cafe;
    width: 95%;
    margin : 0 auto;
}

.htmlcontainer .logo {
    float : left;
    font-style: italic;
    color: rgb(0, 0, 0);
}

.htmlcontainer nav button:hover::after {
    width: 100%;
}

header.html {
    z-index: 2;
    background-color: #fa812a;
    border-bottom: 8px solid #ff1e1e;
    position: sticky;
    top: 0px;
}

header.html::after {
    content: '';
    display: flex;
    clear: both;
}

.htmlcontainer nav ul li button {
    color: #000;
    text-decoration: none;
    font-size: large;
}

.htmlcontainer nav button::after {
    content: '';
    display: block;
    height: 3px;
    width: 0%;
    background-color: #000000;

    position: absolute;
    transition: all ease-in-out 250ms;
}

.abouthtml {
    width: 95%;
    margin: 0 auto;
}

.abouthtml h1 {
    background-color: #f07e2c;
}

/*Customized container for python*/
.pycontainer {
    font-family: Louis George Cafe;
    width: 95%;
    margin : 0 auto;
}

.pycontainer .logo {
    float : left;
    font-style: italic;
    color: rgb(255, 255, 255);
}

.pycontainer nav button:hover::after {
    width: 100%;
}

header.py {
    z-index: 2;
    background-color: #3d79aa;
    border-bottom: 8px solid #ffe05d;
    position: sticky;
    width: 100%;
    top: 0px;
}

header.py::after {
    content: '';
    display: flex;
    clear: both;
}

.pycontainer nav ul li button {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: large;
}

.pycontainer nav button::after {
    content: '';
    display: block;
    height: 3px;
    width: 0%;
    background-color: #ffffff;

    position: absolute;
    transition: all ease-in-out 250ms;
}

.aboutPython {
    width: 95%;
    margin: 0 auto;

}
.aboutPython h1 {
    background-color: #3d79aa;
    padding: 3px 3px;
    color:rgb(255, 255, 255);
}

.pythonusedfor {
    width : 95%;
    margin: 0 auto;
    padding: 3px 3px
}

.pythonusedfor h1 {
    background-color: #3d79aa;
    color:rgb(255, 255, 255);
    padding: 3px 3px
}
.pythonusedfor img {
    width : 20%;
    height: auto;
    margin: 0px auto;
    padding: 0%;
}

#step1img {
    width: 80%;
    padding-left: 5%;
    padding-top: 20px;
    padding-bottom: 20px;
}

#step2img {
    width: 8%;
    padding-left: 5%;
    padding-top: 20px;
    padding-bottom: 20px;
}
#step2-2img {
    width: 80%;
    padding-left: 5%;
    padding-top: 20px;
    padding-bottom: 20px;
}

#step3img {
    width: 80%;
    padding-left: 5%;
    padding-top: 20px;
    padding-bottom: 20px;
}

#step3-2img {
    width: 20%;
    padding-left: 5%;
    padding-top: 20px;
    padding-bottom: 20px;
}

.pythontutorial {
    width: 95%;
    margin: 0 auto;
    
}

.pythontutorial h1 {
    background-color: #3d79aa;
    color:rgb(255, 255, 255);
    padding: 3px 3px
}

.pythontutorial h2 {
    background-color: #558cb8;
    color:rgb(255, 255, 255);
}
.pythontutorial h3 b {
    font-family: "Louis George Cafe B";
}
.pythontutorial blockquote {
    background-color: rgb(210, 210, 210);
    
}

/*Customized container for resources*/
.rescontainer {
    font-family: Louis George Cafe;
    width: 95%;
    margin : 0 auto;
}

.rescontainer .logo {
    float : left;
    font-style: italic;
    color: rgb(255, 255, 255);
}

.rescontainer nav button:hover::after {
    width: 100%;
}

header.res{
    z-index: 2;
    background-color: #444342;
    border-bottom: 8px solid #000000;
    position: sticky;
    top: 0px;
}

header.res::after {
    content: '';
    display: flex;
    clear: both;
}

.rescontainer nav ul li button {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: large;
}

.rescontainer nav button::after {
    content: '';
    display: block;
    height: 3px;
    width: 0%;
    background-color: #ffffff;

    position: absolute;
    transition: all ease-in-out 250ms;
}

.github {
    width: 95%;
    margin: 0 auto;
}

h2.branches {
    background-color: #444342;
    color: #FFFFFF;
    padding: 3px 3px;
}

.github h3{
    padding: 3px 3px;
}

.github p {
    font-weight: 200px;
}

.github img {
    width: 55%;
}