body {
    background-color: white;
    margin: 0;
    font-family: Louis George Cafe;
}

@font-face {
    font-family: Louis George Cafe;
    src: url("Louis\ George\ Cafe.ttf");
}

@font-face {
    font-family: Louis George Cafe Bold;
    src: url("Louis\ George\ Cafe\ Bold.ttf");
    font-weight: bold;
}

@font-face {
    font-family: Louis George Cafe Italic;
    src: url("Louis\ George\ Cafe\ Italic.ttf");
    font-style: italic;
}

.container {
    font-family: Louis George Cafe;
    width: 95%;
    margin : 0 auto;
}

.container::after{
    position: sticky;
}

header{
    background-color: #ffa800;
    border-bottom: 8px solid #c70039;
}

header::after {
    content: '';
    display: table;
    clear: both;
}

.logo {
    float : left;
    font-style: italic;
}

nav {
    float : right;
    font-weight: bolder;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    display : inline-block;
    margin-left: 50px;
    padding-top: 33px;

    position: relative;
}

nav ul li a {
    color: #000;
    text-decoration: none;
    font-size: large;
}

nav a::after {
    content: '';
    display: block;
    height: 3px;
    width: 0%;
    background-color: #000;

    position: absolute;
    transition: all ease-in-out 250ms;
}

nav a:hover::after {
    width: 100%;
}

.about{
    width : 95%;
    margin: 0 auto;
}

.about h1{
    display: block;
    position: absolute;
    padding-right:calc(100vw - 200px)  ;
    padding-left : 5px;
    background-color: #ff5733;
}

.bios {
    width : 95%;
    margin: 80px auto;
}

.bios p {
    margin-right : 20px;
}

.bios img.zach {
    width : 250px;
    height: 250px;
    float : right;
    margin-left : 20px;
    margin-right: calc(50vw);
    margin-top: auto;
    margin-bottom: 20px;
}